{% extends 'base.html.twig' %}

{% block body %}

{% for message in app.flashes('succes') %}
    <div class="alert alert-success">
        <h3>{{ message }}</h3>
    </div>
{% endfor %}
<br>
<div class="container">
<h2>Edit dishes</h2>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Order nr.</td>
            <td>Name</td>
            <td>Description</td>
            <td>Category</td>
            <td>Price</td>
            <td>Delete</td>
            <td><a href="{{path('dish.create')}}">Create</a></td>
            
        </tr>
    </thead>

    <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{dish.id}}</td>
                <td><a href="{{path('dish.show', {id: dish.id})}}">{{dish.name}}</a></td>
                <td>{{dish.description}}</td>
                <td>{{dish.category}}</td>
                <td>{{dish.price}}</td>
                <td><a href="{{path('dish.delete', {id: dish.id})}}">X</a></td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>

</table>
</div>
{% endblock %}
